.container {
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  max-width: 600px;
  width: 100%;
}

.profileContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.profilePicture {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  border: 4px solid white;
  transition: transform 0.5s, background-color 0.5s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profilePicture:hover {
  transform: rotate(360deg);
  background-color: white;
}

.profileImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s;
}

.linkedinIcon {
  position: absolute;
  width: 50px;
  height: 50px;
  opacity: 0;
  transition: opacity 0.5s;
}

.profilePicture:hover .profileImage {
  opacity: 0;
}

.profilePicture:hover .linkedinIcon {
  opacity: 1;
}

.form {
  display: flex;
  flex-direction: column;
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inputField, .textareaField {
  margin-bottom: 1rem;
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

.button {
  background-color: #0070f3;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #005bb5;
}

.contactInfo {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contactInfo p {
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  color: black;
}

.contactInfo .icon {
  margin-right: 0.5rem;
  color: #0070f3;
}

.contactInfo a {
  color: #0070f3;
  text-decoration: none;
}

.contactInfo a:hover {
  text-decoration: underline;
}
